.zoom-image {
  transition: transform 0.3s ease;
}

.zoom-image:hover {
  transform: scale(1.1);
  cursor: zoom-in;
}

#product-tabs-tab-description,
#product-tabs-tab-reviews {
  width: 155px;
}

.slick-slide {
  margin: 0 1px;
}
