:root {
--primary-color: #e50000;
--secondary-color: #b30000;
--accent-color: #ff3333;
--light-color: #ffffff;
--dark-color: #990000;
}

.footer-section {
    margin-top: 100px;
    background-color: var(--dark-color);
    background-image: linear-gradient(to right, var(--dark-color), #7a0000);
}

.footer-link {
    font-size: 20px;
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
}

.text-danger{
    font-size: 1.5rem;
}

.footer-link:hover {
    color: white;
    text-decoration: none;
}

.social-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-decoration: none;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.social-link:hover {
    background-color: var(--primary-color);
    color: white;
}