* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary: #a4070c;
    --secondary: #320f0f;
    --accent: #064141;
}

.backgroundReset {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    position: relative;
    overflow: hidden;
    color: #000;
}

.form-reset {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 410px;
    height: 550px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0 1px 50px var(--accent);
    background: transparent;
    backdrop-filter: blur(20px);
}

.form-reset h2{ 
    text-align: center;
    margin: 2.5rem;
    color: #000000;
    font-weight: 600;
}

.form-reset label {
    display: block;
    color: rgb(0, 0, 0);
    left: 50%;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.group {
    margin-left: 25%;
    margin-top: 10px;
}

.form-reset input {
    width: 75%;
    padding: 12px 15px;
    border: none;
    background: white;
    color: #000;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s;
    border:1px solid #000;
}

.form-reset input:focus {
    box-shadow: 0 0 0 3px rgba(2, 2, 2, 0.618);
}
