*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.banner{
    width: 100%;
    background: url('/public/vivid-blurred-colorful-wallpaper-background_58702-2461.avif');
    background-size: cover;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 300px;
    justify-content: center;
    display: flex;
}


.PagePd > h2 {
    background: linear-gradient(45deg, #1b07b4, #620e03, #1d0601);
    color: #fff;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100px;         
    animation: animate 2s infinite;
}

@keyframes animate {
    to {
        background-position-x: -1520px;
    }
}


.bgtext img {
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    color: transparent;
}

.load {
    margin: auto;
    margin-top: 20px;
    width: 250px;
    height: 45px;
    background-color: #FE2204;
    font-size: 20px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

h5{
    font-size: 1rem;
}
